/* MEDIA QUERY CUTOFF POINTS */
/* COLORS */
/* FONTS */
/* FONT-SIZING RELATIVE TO 'BASELINE' */
:root {
  --step-up-5: 2em;
  --step-up-4: 1.7511em;
  --step-up-3: 1.5157em;
  --step-up-2: 1.3195em;
  --step-up-1: 1.1487em;
  --baseline: 1em;
  --step-down-1: 0.8706em;
  --step-down-2: 0.7579em;
  --step-down-3: 0.6599em;
  --step-down-4: 0.5745em;
  --step-down-5: 0.5em;
}

html {
  font-family: "PT Sans";
  box-sizing: border-box;
  color: #006;
  font-size: 16px;
}

/* CHANGING TEXT WITH MEDIA QUERY 8 */
.full-text {
  display: none;
}
@media (min-width: 1200px) {
  .full-text {
    display: inline-block;
  }
}

.short-text {
  display: inline-block;
}
@media (min-width: 1200px) {
  .short-text {
    display: none;
  }
}

/* GRID SIZING AND ITEM PLACEMENT */
.gridcontainer {
  display: grid;
  margin: 0 auto;
  gap: 0.4em;
  grid-template-columns: 0.05fr 2fr 0.05fr;
  grid-template-areas: ". hdr . " ". shdr . " ". n2kt . " ". tcon . " ". map1 . " ". map2 . " ". map3 . " ". ftr . ";
}
@media (min-width: 1200px) {
  .gridcontainer {
    column-gap: 1em;
    grid-template-columns: 0.3fr 2.5fr 2fr 2fr 0.3fr;
    grid-template-areas: ". hdr hdr hdr . " ". shdr shdr shdr . " ". n2kt n2kt . . " ". tcon map1 map1 . " ". tcon map2 map2 . " ". tcon map3 map3 . " ". ftr ftr ftr . ";
  }
}

.dropdown {
  grid-area: dd;
  align-items: center;
  display: inline-flex;
  justify-content: flex-end;
}
.dropdown #n2k-dd {
  background-color: white;
  color: #000066;
  padding: 0.4em;
  border-radius: 8px;
}

h1 {
  font-family: "PT Sans";
  font-weight: 700;
  font-size: var(--step-up-1);
}

h3 {
  font-size: var(--step-up-1);
  font-weight: 500;
  padding-top: 1em;
}

p {
  font-size: var(--step-down-1);
}

.header {
  grid-area: hdr;
  vertical-align: middle;
  padding-bottom: 0.4em;
}
.header .header__title {
  margin: 0.6em 0.4em;
  display: inline-block;
  padding: 0.2em 1.5em;
  padding-right: 0.2em;
}
.header .header__logoicon {
  margin-top: 0.2em;
  vertical-align: middle;
  display: inline-block;
  padding: 0.4em;
  padding-right: 2em;
  border-right: 1px solid lightgrey;
}
.header .header__infoicon {
  height: 20px;
  margin: 0.4em;
  vertical-align: middle;
  display: inline-block;
  padding: 0.2em 0.4em;
}

.subheader {
  text-align: center;
  grid-area: shdr;
  padding: 2em 0em;
}

.n2ktitle {
  grid-area: n2kt;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 1px solid lightgrey;
}
.n2ktitle h1 {
  font-weight: 500;
  font-size: var(--step-up-4);
}

.topcontent {
  grid-area: tcon;
  padding-top: 0px;
  padding-bottom: 0px;
}
.topcontent .topcontent__status {
  font-type: inherit;
  font-size: var(--step-down-2);
  padding: 1px 8px;
  color: #000066;
  display: inline-block;
  border: 1px solid #000066;
  border-radius: 5px;
}

.mapdiv h3 {
  font-size: var(--step-up-1);
}
map {
  height: 30em;
}

#mapcontainer1 {
  grid-area: map1;
}

#mapcontainer2 {
  grid-area: map2;
}

#mapcontainer3 {
  grid-area: map3;
}

.aftermapcontent {
  grid-area: bcon;
}

footer {
  grid-area: ftr;
}

a {
  color: #000066;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid aquamarine;
}

/* ADDING ICONS TO LINKS*/
.doc-link:before {
  content: "";
  display: block;
  background: url("../logo/file.svg") no-repeat;
  background-size: 1em 1em;
  background-position: center;
  width: 1em;
  height: 1em;
  float: left;
  margin: 0 6px 0 0;
}

.external-link:before {
  content: "";
  display: block;
  background: url("../logo/exlink.svg") no-repeat;
  background-size: 1em 1em;
  background-position: center;
  width: 1em;
  height: 1em;
  float: left;
  margin: 0 6px 0 0;
}

/* TABLE STYLING */
table.minimalistBlack {
  border: 0px solid #000000;
  background-color: #F7F7F7;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table.minimalistBlack td {
  padding: 5px 3px;
}

table.minimalistBlack tbody td {
  font-size: var(--step-down-1);
}

table.minimalistBlack tr:nth-child(even) {
  background: #FFFFFF;
}

/*# sourceMappingURL=main.css.map */
